Repository rr-/szurubooru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-build-client, docker-build-server, pytest

docker-build-client:
  name: Docker - build client
  entry: bash -c '<client/Dockerfile sed "s/--platform.*BUILDPLATFORM//g" | docker build -f - client/'
  language: system
  pass_filenames: false

docker-build-server:
  name: Docker - build server
  entry: bash -c 'docker build server/'
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'docker run --rm -t $(docker build -f server/Dockerfile.test -q server/) szurubooru/'
  language: system
  pass_filenames: false
  stages:
  - push

docker/build: remove qemu installation, run inspect for troubleshooting
  client/hooks/pre_build
  server/hooks/pre_build
Due: docker-build-client, docker-build-server

docker/build: force buildx platforms
  client/hooks/pre_build
  server/hooks/pre_build
Due: docker-build-client, docker-build-server

docker/build: trying again...
  client/hooks/pre_build
  server/hooks/pre_build
Due: docker-build-client, docker-build-server

docker/build: trying again...
  client/hooks/build
  client/hooks/pre_build
  server/hooks/build
  server/hooks/pre_build
Due: docker-build-client, docker-build-server

Implement proper Alembic migration
  server/szurubooru/migrations/versions/336a76ec1338_create_post_tables.py
  server/szurubooru/migrations/versions/46c358b0ca93_add_file_last_modified_time.py
Due: docker-build-server

features
  README.md
Due: none

server/docker: unify test and main Dockerfiles
  .pre-commit-config.yaml
  client/Dockerfile
  server/Dockerfile
  server/Dockerfile.test
  server/hooks/test
  server/szurubooru/config.py
Due: docker-build-client, docker-build-server, pytest

client/html/help: fix typo
  client/html/help_search_posts.tpl
Due: docker-build-client

Fixed Alembic migrations to use python instead of SQL
  server/szurubooru/migrations/versions/46c358b0ca93_add_file_last_modified_time.py
Due: docker-build-server

reverted indentation on search help
  client/html/help_search_posts.tpl
Due: docker-build-client

Wording changes
  README.md
  client/html/post_readonly_sidebar.tpl
Due: docker-build-client

Reverted client-side JS modifications
  client/js/controllers/post_upload_controller.js
  client/js/models/post.js
  client/js/views/post_upload_view.js
Due: docker-build-client

doc/install: fix typo
  doc/INSTALL.md
Due: none

dev/pre-commit: add additional checks
  .pre-commit-config.yaml
Due: none

doc/api: add pools to post resource
  doc/API.md
Due: none

server/pools: serialize pools as micro resource within post resources
  doc/API.md
  server/szurubooru/func/pools.py
  server/szurubooru/func/posts.py
  server/szurubooru/tests/func/test_posts.py
Due: docker-build-server, pytest

client+server: add tag category ordering feature
  client/html/tag_categories.tpl
  client/html/tag_category_row.tpl
  client/js/controllers/tag_categories_controller.js
  client/js/models/tag_category.js
  client/js/views/tag_categories_view.js
  server/config.yaml.dist
  server/szurubooru/api/tag_category_api.py
  server/szurubooru/func/tag_categories.py
  server/szurubooru/func/tags.py
  server/szurubooru/migrations/versions/c97dc1bf184a_add_order_column_to_tag_categories.py
  server/szurubooru/model/tag_category.py
  server/szurubooru/tests/api/test_tag_category_updating.py
Due: docker-build-client, docker-build-server, pytest

server/tests: fix failing tests
  server/szurubooru/tests/api/test_tag_category_retrieving.py
  server/szurubooru/tests/func/test_tag_categories.py
Due: docker-build-server, pytest

server+client: update tag category api + fix formatting
  client/js/models/tag_category.js
  server/szurubooru/api/tag_category_api.py
  server/szurubooru/func/tag_categories.py
  server/szurubooru/migrations/versions/c97dc1bf184a_add_order_column_to_tag_categories.py
Due: docker-build-client, docker-build-server, pytest

docs: update tag category api
  doc/API.md
Due: none

server/tests: fix failing tests
  server/szurubooru/tests/api/test_tag_category_creating.py
  server/szurubooru/tests/conftest.py
  server/szurubooru/tests/func/test_tag_categories.py
Due: docker-build-server, pytest

server/tag-categories: sort responses by order
  server/szurubooru/func/tag_categories.py
Due: docker-build-server, pytest

client/tag-categories: sort by order on tag-category edit page
  client/js/views/tag_categories_view.js
Due: docker-build-client

client/posts: support content aware post flow option
  client/css/post-list-view.styl
  client/html/posts_page.tpl
  client/html/settings.tpl
  client/js/controllers/post_list_controller.js
  client/js/models/settings.js
  client/js/views/settings_view.js
Due: docker-build-client

server/func/webhooks: call webhooks asynchronously
  server/szurubooru/func/net.py
  server/szurubooru/tests/func/test_net.py
Due: docker-build-server, pytest

server: enable large file support in database
  server/szurubooru/migrations/versions/c867abb456b1_support_large_file_uploads.py
  server/szurubooru/model/post.py
Due: docker-build-server, pytest

client/css: generate transparency grid via pure CSS
  client/build.js
  client/css/colors.styl
  client/css/core-general.styl
  client/css/post-content-control.styl
  client/css/post-list-view.styl
  client/img/transparency_grid.png
Due: docker-build-client

add install.sh to automate deployment
  install.sh
Due: none

server/func/mailer: Attempt to manually start TLS for SMTP
  server/szurubooru/func/mailer.py
Due: docker-build-server, pytest

Add files via upload
  install.sh
Due: none

Update install.sh - added Daemon access check
  install.sh
Due: none

Update install.sh
  install.sh
Due: none

doc/install: applied formatting fixes to script
  doc/install.sh
Due: none

server/posts: store and provide MD5 checksums
  doc/API.md
  server/szurubooru/facade.py
  server/szurubooru/func/posts.py
  server/szurubooru/migrations/versions/adcd63ff76a2_add_md5_checksums_to_posts.py
  server/szurubooru/model/post.py
  server/szurubooru/tests/func/test_net.py
  server/szurubooru/tests/func/test_posts.py
Due: docker-build-server, pytest

server/search: add MD5-based search
  client/html/help_search_posts.tpl
  server/szurubooru/search/configs/post_search_config.py
Due: docker-build-client, docker-build-server, pytest

server/net: improve youtube-dl functionality, enforce size limits
  server/Dockerfile
  server/requirements.txt
  server/szurubooru/func/net.py
  server/szurubooru/tests/func/test_net.py
Due: docker-build-server, pytest

server/net: fix error handling
  server/szurubooru/func/net.py
Due: docker-build-server, pytest

Path conditions:
  docker-build-client: any of: client/, but not: LICENSE.md
  docker-build-server: any of: server/, but not: LICENSE.md
  pytest: any of: server/szurubooru/ and \.py$ and not (server/szurubooru/migrations/) and not (LICENSE.md)
