Repository rr-/szurubooru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-build-client, docker-build-server, pytest

.pre-commit-config.yaml:

repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml

-   repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        files: server/szurubooru/
        language_version: python3.8

-   repo: https://github.com/timothycrosley/isort
    rev: '4.3.21-2'
    hooks:
    -   id: isort
        files: server/szurubooru/
        exclude: server/szurubooru/migrations/env.py
        additional_dependencies:
        -   toml

-   repo: https://github.com/prettier/prettier
    rev: '2.0.5'
    hooks:
    -   id: prettier
        files: client/js/
        exclude: client/js/.gitignore
        args: ['--config', 'client/.prettierrc.yml']

-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.1.0
    hooks:
    -   id: eslint
        files: client/js/
        args: ['--fix']
        additional_dependencies:
        -   eslint-config-prettier

-   repo: https://gitlab.com/pycqa/flake8
    rev: '3.8.2'
    hooks:
    -   id: flake8
        files: server/szurubooru/
        additional_dependencies:
        -   flake8-print
        args: ['--config=server/.flake8']

-   repo: local
    hooks:
    -   id: docker-build-client
        name: Docker - build client
        entry: bash -c '<client/Dockerfile sed "s/--platform.*BUILDPLATFORM//g" | docker build -f - client/'
        language: system
        types: [file]
        files: client/
        pass_filenames: false

    -   id: docker-build-server
        name: Docker - build server
        entry: bash -c 'docker build server/'
        language: system
        types: [file]
        files: server/
        pass_filenames: false

    -   id: pytest
        name: pytest
        entry: bash -c 'docker run --rm -t $(docker build -f server/Dockerfile.test -q server/) szurubooru/'
        language: system
        types: [python]
        files: server/szurubooru/
        exclude: server/szurubooru/migrations/
        pass_filenames: false
        stages: [push]

    -   id: pytest-cov
        name: pytest
        entry: bash -c 'docker run --rm -t $(docker build -f server/Dockerfile.test -q server/) --cov-report=term-missing:skip-covered --cov=szurubooru szurubooru/'
        language: system
        types: [python]
        files: server/szurubooru/
        exclude: server/szurubooru/migrations/
        pass_filenames: false
        verbose: true
        stages: [manual]

fail_fast: true
exclude: LICENSE.md

client/build: update builder image Node.js version to LTS
  client/Dockerfile
  client/package-lock.json
  client/package.json
Due: docker-build-client

server: fix issue where no video files could be uploaded
  server/szurubooru/func/image_hash.py
Due: docker-build-server, pytest

client/css: dark mode contrast fixes (#388)
  client/css/core-general.styl
  client/css/pager.styl
  client/css/post-main-view.styl
  client/css/tag-input-control.styl
  client/js/controls/tag_input_control.js
Due: docker-build-client

WIP OpenGraph embeds
  client/build.js
  client/html/index.htm
  client/nginx.conf.docker
  client/requirements.txt
  client/server.py
  server/szurubooru/rest/app.py
Due: docker-build-client, docker-build-server, pytest

client/nginx: increase timeouts
  client/nginx.conf.docker
Due: docker-build-client

Implement twitter video embeds
  client/server.py
Due: docker-build-client

client-server: cleaner way of getting http status codes
  client/server.py
Due: docker-build-client

client: using openresty for content rewriting
  client/Dockerfile
  client/docker-start.sh
  client/nginx.conf.docker
Due: docker-build-client

client: og:site_name served via lua content script
  client/Dockerfile
  client/html/index.htm
  client/metatags.lua
  client/nginx.conf.docker
Due: docker-build-client

client: set og:url to the request_uri
  client/metatags.lua
  client/nginx.conf.docker
Due: docker-build-client

client: openresty-fat -> openresty (save 200MB+)
  client/Dockerfile
Due: docker-build-client

client: initial og:title and og:image for posts
  client/metatags.lua
  client/nginx.conf.docker
Due: docker-build-client

client: og-tags fix for restricted posts
  client/metatags.lua
Due: docker-build-client

client/lua: handle the api server being offline
  client/metatags.lua
  client/nginx.conf.docker
Due: docker-build-client

client/lua: further development for post tags
  client/metatags.lua
Due: docker-build-client

client/lua: additional post tags
  client/metatags.lua
Due: docker-build-client

client/lua: stricter matches and home tags
  client/metatags.lua
Due: docker-build-client

client/lua: fix user meta tags
  client/metatags.lua
Due: docker-build-client

client/nginx: meta tags use X-Forwarded-Proto
  client/metatags.lua
  client/nginx.conf.docker
Due: docker-build-client

client/lua: wrap tags with error handler
  client/metatags.lua
Due: docker-build-client

client/lua: /user/* "User not found" title
  client/metatags.lua
Due: docker-build-client

Fixed markup formatting to only parse host urls
  client/js/util/markdown.js
Due: docker-build-client

client+server: fixed style errors
  client/js/controllers/home_controller.js
  client/js/controls/tag_input_control.js
  client/js/main.js
  server/szurubooru/func/image_hash.py
  server/szurubooru/func/images.py
  server/szurubooru/func/mime.py
Due: docker-build-client, docker-build-server, pytest

Fix style
  client/js/controllers/post_upload_controller.js
  client/js/views/post_upload_view.js
Due: docker-build-client

client/upload: force enable 'upload anonymously' for anon users
  client/html/post_upload_row.tpl
  client/js/views/post_upload_view.js
Due: docker-build-client

client: /post/id/* allowed to match for post tags
  client/metatags.lua
Due: docker-build-client

client+server: migrate to GitHub actions
  .github/workflows/build-containers.yml
  .github/workflows/run-unit-tests.yml
  client/hooks/build
  client/hooks/post_push
  server/hooks/build
  server/hooks/post_push
  server/hooks/test
Due: docker-build-client, docker-build-server

client+server/docker: build ARM images for Docker Hub
  .github/workflows/build-containers.yml
Due: none

client+server/docker: fix ARM build platform issue
  .github/workflows/build-containers.yml
  client/Dockerfile
  server/Dockerfile
Due: docker-build-client, docker-build-server

server/net: return more useful error messages
  server/szurubooru/func/net.py
Due: docker-build-server, pytest

server/tests: use transactional db for faster unit tests
  server/szurubooru/tests/api/test_tag_updating.py
  server/szurubooru/tests/conftest.py
  server/szurubooru/tests/func/test_snapshots.py
  server/szurubooru/tests/func/test_snapshots_transactional_isolation.py
  server/szurubooru/tests/func/test_tag_categories.py
  server/szurubooru/tests/func/test_tags.py
  server/szurubooru/tests/search/configs/test_pool_search_config.py
  server/szurubooru/tests/search/configs/test_tag_search_config.py
Due: docker-build-server, pytest

client+server: cleanup GitHub actions workflow names
  .github/workflows/build-containers.yml
  .github/workflows/run-unit-tests.yml
  .pre-commit-config.yaml
Due: none

client+server: implement server-generated Open Graph tags
  client/Dockerfile
  client/build.js
  client/docker-start.sh
  client/nginx.conf.docker
  server/Dockerfile
  server/requirements.txt
  server/szurubooru/api/__init__.py
  server/szurubooru/api/info_api.py
  server/szurubooru/api/opengraph_api.py
  server/szurubooru/rest/app.py
  server/szurubooru/rest/routes.py
Due: docker-build-client, docker-build-server, pytest

client+server: implement HTML caching and URL prefix determination
  client/docker-start.sh
  client/nginx.conf.docker
  server/szurubooru/api/info_api.py
  server/szurubooru/api/opengraph_api.py
  server/szurubooru/middleware/authenticator.py
  server/szurubooru/middleware/request_logger.py
  server/szurubooru/rest/app.py
  server/szurubooru/rest/context.py
Due: docker-build-client, docker-build-server, pytest

server/opengraph: add remaining post tags
  server/szurubooru/api/opengraph_api.py
  server/szurubooru/tests/api/test_opengraph.py
Due: docker-build-server, pytest

client+server: allow for wildcards in Accept headers
  client/html/index.htm
  client/nginx.conf.docker
  doc/INSTALL.md
  doc/example.env
  docker-compose.yml
  server/szurubooru/api/info_api.py
  server/szurubooru/api/opengraph_api.py
  server/szurubooru/api/password_reset_api.py
  server/szurubooru/rest/app.py
  server/szurubooru/rest/routes.py
  server/szurubooru/tests/api/test_info.py
  server/szurubooru/tests/api/test_opengraph.py
  server/szurubooru/tests/api/test_password_reset.py
  server/szurubooru/tests/conftest.py
  server/szurubooru/tests/middleware/test_authenticator.py
Due: docker-build-client, docker-build-server, pytest

server/posts: generate appropriate URIs using config parameters only
  client/nginx.conf.docker
  doc/INSTALL.md
  server/config.yaml.dist
  server/szurubooru/api/info_api.py
  server/szurubooru/api/opengraph_api.py
  server/szurubooru/api/password_reset_api.py
  server/szurubooru/api/pool_api.py
  server/szurubooru/api/post_api.py
  server/szurubooru/config.py
  server/szurubooru/facade.py
  server/szurubooru/func/pools.py
  server/szurubooru/func/posts.py
  server/szurubooru/func/util.py
  server/szurubooru/rest/app.py
  server/szurubooru/rest/context.py
  server/szurubooru/tests/api/test_info.py
  server/szurubooru/tests/api/test_opengraph.py
  server/szurubooru/tests/api/test_password_reset.py
  server/szurubooru/tests/api/test_pool_updating.py
  server/szurubooru/tests/api/test_post_creating.py
  server/szurubooru/tests/func/test_posts.py
  server/szurubooru/tests/func/test_util.py
Due: docker-build-client, docker-build-server, pytest

server/posts: add preload directive to post HTML
  server/szurubooru/api/opengraph_api.py
  server/szurubooru/func/auth.py
  server/szurubooru/middleware/authenticator.py
  server/szurubooru/tests/api/test_opengraph.py
  server/szurubooru/tests/middleware/test_authenticator.py
Due: docker-build-server, pytest

support flv
  client/build.js
  client/js/views/post_main_view.js
  client/js/views/post_upload_view.js
  client/package.json
  server/szurubooru/func/mime.py
  server/szurubooru/func/posts.py
Due: docker-build-client, docker-build-server, pytest

Add tests for FLV support
  server/szurubooru/tests/assets/flv.flv
  server/szurubooru/tests/func/test_mime.py
  server/szurubooru/tests/func/test_posts.py
Due: docker-build-server, pytest
