Repository rr-/szurubooru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-build-client, docker-build-server, pytest

docker-build-client:
  name: Docker - build client
  entry: bash -c '<client/Dockerfile sed "s/--platform.*BUILDPLATFORM//g" | docker build -f - client/'
  language: system
  pass_filenames: false

docker-build-server:
  name: Docker - build server
  entry: bash -c 'docker build server/'
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'docker run --rm -t $(docker build -f server/Dockerfile.test -q server/) szurubooru/'
  language: system
  pass_filenames: false
  stages:
  - push

server/net: prevent youtube-dl errors when downloading image links
  server/szurubooru/func/net.py
  server/szurubooru/tests/func/test_net.py
Due: docker-build-server, pytest

client/posts/edit: maintain post editing state for arrow key nav
  client/js/views/post_main_view.js
Due: docker-build-client

client/posts: provide link for danbooru image search
  client/css/post-main-view.styl
  client/html/post_readonly_sidebar.tpl
  client/js/models/post.js
Due: docker-build-client

client/posts: provide link for E621 image search
  client/html/post_readonly_sidebar.tpl
Due: docker-build-client

Post description wip
  client/css/post-main-view.styl
  client/html/post_main.tpl
  client/js/controllers/post_main_controller.js
  client/js/controls/post_edit_sidebar_control.js
  client/js/models/post.js
  client/js/views/post_main_view.js
  server/szurubooru/api/post_api.py
  server/szurubooru/func/posts.py
  server/szurubooru/migrations/versions/58bba7e0c554_add_description_to_post.py
  server/szurubooru/model/post.py
Due: docker-build-client, docker-build-server, pytest

server/func/mime: support ftypM4V file signature
  server/szurubooru/func/mime.py
Due: docker-build-server, pytest

Nginx added variable, to easier scale szuru.
  client/nginx.conf.docker
Due: docker-build-client

client: rename escapeColons to escapeTagName and also escape dots
  client/html/post_readonly_sidebar.tpl
  client/html/tag_delete.tpl
  client/html/tag_summary.tpl
  client/js/controllers/pool_controller.js
  client/js/controllers/pool_create_controller.js
  client/js/controllers/tag_controller.js
  client/js/controls/post_readonly_sidebar_control.js
  client/js/controls/tag_input_control.js
  client/js/util/uri.js
Due: docker-build-client

client/tags: escape dots in search term and don't allow '.' and '..' as tags
  client/js/controls/tag_input_control.js
  client/js/util/misc.js
Due: docker-build-client

client/css: fix dark mode pagination header bg
  client/css/pager.styl
Due: docker-build-client

client/css/post-main-view: dark uses box-shadow
  client/css/post-main-view.styl
Due: docker-build-client

client/css: animate compact-tags updates
  client/css/tag-input-control.styl
Due: docker-build-client

client: tag input animations fixed
  client/css/tag-input-control.styl
  client/js/controls/tag_input_control.js
Due: docker-build-client

client/css: darken darktheme success bg
  client/css/core-general.styl
Due: docker-build-client

Suppressed the use of SQLAlchemy 1.4
  server/requirements.txt
Due: docker-build-server

client/css: dark tag background colors
  client/css/tag-input-control.styl
Due: docker-build-client

client/css/tag-input-control: dark suggest header
  client/css/tag-input-control.styl
Due: docker-build-client

client/css: darktheme mobile site-name in nav
  client/css/core-general.styl
Due: docker-build-client

Add AVIF/HEIC detection
  client/html/post_merge_side.tpl
  client/html/post_readonly_sidebar.tpl
  client/js/views/post_upload_view.js
  client/package-lock.json
  server/requirements.txt
  server/szurubooru/func/image_hash.py
  server/szurubooru/func/mime.py
  server/szurubooru/func/posts.py
  server/szurubooru/tests/assets/avif-avis.avif
  server/szurubooru/tests/assets/avif-similar.avif
  server/szurubooru/tests/assets/avif.avif
  server/szurubooru/tests/assets/heic-mif1.heic
  server/szurubooru/tests/assets/heic.heic
  server/szurubooru/tests/assets/heif-similar.heif
  server/szurubooru/tests/assets/heif.heif
  server/szurubooru/tests/func/test_image_hash.py
  server/szurubooru/tests/func/test_mime.py
Due: docker-build-client, docker-build-server, pytest

Add AVIF/HEIF/HEIC upload support
  client/html/post_merge_side.tpl
  client/html/post_readonly_sidebar.tpl
  client/js/views/post_upload_view.js
  server/szurubooru/func/images.py
  server/szurubooru/func/mime.py
  server/szurubooru/tests/assets/heic-heix.heic
  server/szurubooru/tests/assets/heic-mif1.heic
  server/szurubooru/tests/assets/heif-similar.heif
  server/szurubooru/tests/assets/heif.heif
  server/szurubooru/tests/func/test_mime.py
  server/szurubooru/tests/func/test_posts.py
Due: docker-build-client, docker-build-server, pytest

Add HEIF formats to allowed extensions text
  client/js/views/post_upload_view.js
Due: docker-build-client

Add libheif/libavif to Dockerfile dependencies
  server/Dockerfile
Due: docker-build-server

If one post fails to upload, don't prevent the rest from uploading
  client/js/controllers/post_upload_controller.js
Due: docker-build-client

Option to always upload similar posts instead of confirming every time
  client/css/post-upload.styl
  client/html/post_upload.tpl
  client/js/controllers/post_upload_controller.js
  client/js/views/post_upload_view.js
Due: docker-build-client

Support sorting post search results by pool post order
  server/szurubooru/search/configs/post_search_config.py
  server/szurubooru/search/configs/util.py
  server/szurubooru/search/executor.py
  server/szurubooru/search/typing.py
  server/szurubooru/tests/search/configs/test_post_search_config.py
Due: docker-build-server, pytest

Sort by pool by default from pool details page
  client/html/pool_delete.tpl
  client/html/pool_summary.tpl
Due: docker-build-client

Thumbnail view in pool list
  client/css/pool-list-view.styl
  client/html/pools_page.tpl
  client/js/controllers/pool_list_controller.js
  client/package.json
Due: docker-build-client

Add new sort tokens for pools; update API doc
  doc/API.md
  server/szurubooru/search/configs/pool_search_config.py
Due: docker-build-server, pytest

Stacked thumbnail appearance for pool list page
  client/css/pool-list-view.styl
  client/html/pools_page.tpl
  client/js/util/views.js
Due: docker-build-client

Retrieve surrounding pool posts in pool search query
  server/szurubooru/search/configs/base_search_config.py
  server/szurubooru/search/configs/post_search_config.py
  server/szurubooru/search/executor.py
Due: docker-build-server, pytest

temp
  client/css/pool-navigator-control.styl
  client/css/pool-navigator-list-control.styl
  client/html/pool_navigator.tpl
  client/html/pool_navigator_list.tpl
  client/html/post_main.tpl
  client/js/controllers/post_main_controller.js
  client/js/controls/pool_navigator_control.js
  client/js/controls/pool_navigator_list_control.js
  client/js/views/post_main_view.js
Due: docker-build-client

Improve incremental build times
  client/build.js
  client/package-lock.json
  client/package.json
  client/watch.sh
Due: docker-build-client

Live-reloading in development mode
  client/build.js
  client/html/home_footer.tpl
  client/js/controllers/home_controller.js
  client/js/main.js
  client/package-lock.json
  client/package.json
  client/watch.sh
Due: docker-build-client

Add first/last pool post to pool navigator
  client/css/colors.styl
  client/css/pool-navigator-control.styl
  client/css/post-main-view.styl
  client/html/pool_navigator.tpl
  client/js/controls/pool_navigator_control.js
  server/szurubooru/func/posts.py
  server/szurubooru/migrations/functions.py
  server/szurubooru/tests/func/test_posts.py
Due: docker-build-client, docker-build-server, pytest

Initial implementation of pool navigation inside posts
  client/css/colors.styl
  client/css/pool-navigator-control.styl
  client/html/pool_navigator.tpl
  client/js/controllers/post_main_controller.js
  client/js/controls/pool_navigator_control.js
  client/js/controls/pool_navigator_list_control.js
  client/js/views/post_main_view.js
  server/szurubooru/func/posts.py
Due: docker-build-client, docker-build-server, pytest

Route for getting previous/next posts in pool
  client/js/controllers/post_main_controller.js
  client/js/controls/pool_navigator_list_control.js
  client/js/models/post_list.js
  server/requirements.txt
  server/szurubooru/api/post_api.py
  server/szurubooru/func/posts.py
  server/szurubooru/migrations/env.py
  server/szurubooru/migrations/functions.py
  server/szurubooru/migrations/versions/f0b8a4298dc7_add_get_pool_posts_around_function.py
Due: docker-build-client, docker-build-server, pytest

Add pool posts around test
  client/css/pool-navigator-control.styl
  client/html/pool_navigator.tpl
  server/szurubooru/tests/func/test_posts.py
Due: docker-build-client, docker-build-server, pytest

Support BMP format uploads
  client/html/post_merge_side.tpl
  client/html/post_readonly_sidebar.tpl
  client/js/views/post_upload_view.js
  server/szurubooru/func/mime.py
  server/szurubooru/tests/assets/bmp.bmp
  server/szurubooru/tests/func/test_mime.py
  server/szurubooru/tests/func/test_posts.py
Due: docker-build-client, docker-build-server, pytest

Improve compilation speed for development builds (#402)
  client/build.js
  client/html/home_footer.tpl
  client/js/controllers/home_controller.js
  client/js/main.js
  client/package-lock.json
  client/package.json
Due: docker-build-client

server: update docker image base to alpine:3.13
  server/Dockerfile
Due: docker-build-server

Path conditions:
  docker-build-client: any of: client/, but not: LICENSE.md
  docker-build-server: any of: server/, but not: LICENSE.md
  pytest: any of: server/szurubooru/ and \.py$ and not (server/szurubooru/migrations/) and not (LICENSE.md)
