Repository rr-/szurubooru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-build-client, docker-build-server, pytest

docker-build-client:
  name: Docker - build client
  entry: bash -c '<client/Dockerfile sed "s/--platform.*BUILDPLATFORM//g" | docker build -f - client/'
  language: system
  pass_filenames: false

docker-build-server:
  name: Docker - build server
  entry: bash -c 'docker build server/'
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'docker run --rm -t $(docker build -f server/Dockerfile.test -q server/) szurubooru/'
  language: system
  pass_filenames: false
  stages:
  - push

Add more ban API endpoints
  server/config.yaml.dist
  server/szurubooru/api/__init__.py
  server/szurubooru/api/ban_api.py
  server/szurubooru/api/post_api.py
  server/szurubooru/func/bans.py
  server/szurubooru/func/posts.py
  server/szurubooru/model/__init__.py
  server/szurubooru/model/bans.py
  server/szurubooru/model/post.py
  server/szurubooru/search/configs/__init__.py
  server/szurubooru/search/configs/ban_search_config.py
Due: docker-build-server, pytest

Add initial frontend
  client/css/banned-posts.styl
  client/html/banned_post_entry.tpl
  client/html/banned_post_list.tpl
  client/js/controllers/banned_post_controller.js
  client/js/main.js
  client/js/models/banned_post.js
  client/js/models/banned_post_list.js
  client/js/views/banned_posts_view.js
Due: docker-build-client

Fix some bugs, document new API
  client/html/banned_post_entry.tpl
  client/js/controllers/top_navigation_controller.js
  client/js/models/banned_post_list.js
  client/js/models/post.js
  client/js/models/top_navigation.js
  client/js/views/banned_posts_view.js
  doc/API.md
  server/szurubooru/api/ban_api.py
  server/szurubooru/func/bans.py
  server/szurubooru/func/posts.py
  server/szurubooru/search/configs/ban_search_config.py
Due: docker-build-client, docker-build-server, pytest

client/posts: remove cache buster query string on post file change Since filenames now use the new file's sha1.
  client/js/controls/post_content_control.js
  client/js/models/post.js
Due: docker-build-client

Allow to change backend port for the client.
  client/docker-start.sh
  client/nginx.conf.docker
  docker-compose.yml
Due: docker-build-client

server: add implies/suggests named filters
  server/szurubooru/search/configs/tag_search_config.py
  server/szurubooru/search/configs/util.py
Due: docker-build-server, pytest

server/tests: add unit tests for named filters
  server/szurubooru/tests/search/configs/test_tag_search_config.py
Due: docker-build-server, pytest

client: add help entries for named filters
  client/html/help_search_tags.tpl
Due: docker-build-client

server: post category filter
  server/szurubooru/search/configs/post_search_config.py
Due: docker-build-server, pytest

tests/server: post category filter
  server/szurubooru/tests/search/configs/test_post_search_config.py
Due: docker-build-server, pytest

docs (tag categories): order is required when creating tag category
  doc/API.md
Due: none

docs (api): change micro post attribute name to id
  doc/API.md
Due: none

server+client: add ability to configure allowed file types
  client/js/api.js
  client/js/views/post_upload_view.js
  server/config.yaml.dist
  server/szurubooru/api/info_api.py
  server/szurubooru/func/mime.py
  server/szurubooru/func/posts.py
  server/szurubooru/tests/api/test_info.py
  server/szurubooru/tests/api/test_post_creating.py
  server/szurubooru/tests/func/test_posts.py
Due: docker-build-client, docker-build-server, pytest

server/net: use yt-dlp instead of youtube-dl
  server/Dockerfile
  server/requirements.txt
  server/szurubooru/func/net.py
Due: docker-build-server, pytest

doc: update for yt-dlp
  README.md
  doc/API.md
Due: none

Update post_readonly_sidebar.tpl
  client/html/post_readonly_sidebar.tpl
Due: docker-build-client

fix overflow on comments, prevents ugly unnecesary horizontal scroll
  client/css/comment-control.styl
Due: docker-build-client

use exiftool instead of ffprobe to fetch metadata
  server/Dockerfile
  server/szurubooru/func/images.py
Due: docker-build-server, pytest

Rotate images based on EXIF Orientation
  server/szurubooru/func/images.py
Due: docker-build-server, pytest

Account for EXIF data during hashing/searching
  server/szurubooru/func/image_hash.py
Due: docker-build-server, pytest

Report exiftool errors
  server/szurubooru/func/images.py
Due: docker-build-server, pytest

Add unit test updating a post with EXIF metadata
  server/szurubooru/tests/assets/exif.jpg
  server/szurubooru/tests/func/test_posts.py
Due: docker-build-server, pytest

client: list quicktime as supported in UI
  client/js/views/post_upload_view.js
Due: docker-build-client

doc: fix small error in pool API docs
  doc/API.md
Due: none

posts page ugly horizontal bar fix
  client/css/core-general.styl
Due: docker-build-client

Fix Pool Search
  client/js/controllers/pool_list_controller.js
Due: docker-build-client

server: make negated string filters include null values
  server/szurubooru/search/configs/util.py
Due: docker-build-server, pytest

Pin pillow-avif-plugin to compatible version range
  server/Dockerfile
  server/requirements.txt
Due: docker-build-server

Default upload tags
  client/css/post-upload.styl
  client/html/post_upload.tpl
  client/js/views/post_upload_view.js
Due: docker-build-client

Allow default anonymous uploads
  client/css/post-upload.styl
  client/html/post_upload.tpl
  client/js/views/post_upload_view.js
Due: docker-build-client

Better layout for upload options
  client/css/post-upload.styl
  client/html/post_upload.tpl
  client/js/views/post_upload_view.js
Due: docker-build-client

Remove nullcheck operator
  client/js/views/post_upload_view.js
Due: docker-build-client

client: Use expanders and full tag input control on the upload page
  client/css/expander-control.styl
  client/css/post-upload.styl
  client/html/post_upload.tpl
  client/js/views/post_upload_view.js
Due: docker-build-client

Fix tag name escaping on upload
  client/js/views/post_upload_view.js
Due: docker-build-client

Path conditions:
  docker-build-client: any of: client/, but not: LICENSE.md
  docker-build-server: any of: server/, but not: LICENSE.md
  pytest: any of: server/szurubooru/ and \.py$ and not (server/szurubooru/migrations/) and not (LICENSE.md)
