Repository rr-/szurubooru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-build-client, docker-build-server, pytest

docker-build-client:
  name: Docker - build client
  entry: bash -c '<client/Dockerfile sed "s/--platform.*BUILDPLATFORM//g" | docker build -f - client/'
  language: system
  pass_filenames: false

docker-build-server:
  name: Docker - build server
  entry: bash -c 'docker build server/'
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'docker run --rm -t $(docker build -f server/Dockerfile.test -q server/) szurubooru/'
  language: system
  pass_filenames: false
  stages:
  - push

code style cleanup
  client/js/views/post_main_view.js
  server/szurubooru/func/mime.py
  server/szurubooru/func/posts.py
Due: docker-build-client, docker-build-server, pytest

client: remove URL rewriting from the markdown handler
  client/js/util/markdown.js
Due: docker-build-client

updated build files - is no longer valid as per https://github.com/npm/cli/wiki/Support-Policy#long-term-support-lts - updated pre-commit config to use latest repos
  .pre-commit-config.yaml
  client/Dockerfile
Due: docker-build-client

server/deps: add exif as dependency
  server/Dockerfile
  server/pyproject.toml
  server/requirements.txt
Due: docker-build-server

server: added basic date taken functionality
  server/szurubooru/func/metadata.py
  server/szurubooru/func/posts.py
  server/szurubooru/migrations/versions/57aafb3bf9f0_add_date_taken.py
  server/szurubooru/model/post.py
Due: docker-build-server, pytest

client: added basic date-taken functionality
  client/html/post_readonly_sidebar.tpl
  client/js/models/post.js
  client/js/util/misc.js
  client/js/util/views.js
  client/package-lock.json
  client/package.json
Due: docker-build-client

server: added date taken detection for videos
  server/szurubooru/func/metadata.py
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

client: only show date taken on relevant post type
  client/html/post_readonly_sidebar.tpl
Due: docker-build-client

client: format `post_readonly_sidebar.tpl`
  client/html/post_readonly_sidebar.tpl
Due: docker-build-client

server: attempt to use DateTimeOriginal
  server/szurubooru/func/metadata.py
Due: docker-build-server, pytest

server: implemented filter/sort by date taken
  server/szurubooru/search/configs/base_search_config.py
  server/szurubooru/search/configs/post_search_config.py
  server/szurubooru/search/configs/util.py
  server/szurubooru/search/criteria.py
  server/szurubooru/search/executor.py
  server/szurubooru/search/parser.py
  server/szurubooru/search/tokens.py
Due: docker-build-server, pytest

client/docker: Do not pin LTS version of Node
  client/Dockerfile
Due: docker-build-client

server: fix python docstring formatting
  server/szurubooru/facade.py
  server/szurubooru/func/auth.py
  server/szurubooru/func/net.py
  server/szurubooru/func/util.py
  server/szurubooru/middleware/authenticator.py
  server/szurubooru/rest/app.py
Due: docker-build-server, pytest

client: linting
  client/js/controllers/user_controller.js
  client/js/controls/expander_control.js
  client/js/controls/post_edit_sidebar_control.js
  client/js/controls/post_notes_overlay_control.js
  client/js/util/markdown.js
  client/js/views/post_main_view.js
  client/js/views/post_upload_view.js
  client/js/views/posts_header_view.js
  client/js/views/user_tokens_view.js
Due: docker-build-client

client/upload: restore option to pause upload chain on error
  client/css/post-upload.styl
  client/html/post_upload.tpl
  client/js/controllers/post_upload_controller.js
  client/js/views/post_upload_view.js
Due: docker-build-client

server: catch failure to read image exif
  server/szurubooru/func/metadata.py
Due: docker-build-server, pytest

server: add post camera attr and functionality
  server/szurubooru/func/metadata.py
  server/szurubooru/func/posts.py
  server/szurubooru/migrations/versions/adb2acef2492_add_camera.py
  server/szurubooru/model/post.py
Due: docker-build-server, pytest

server: fixed tag typo in metadata.py
  server/szurubooru/func/metadata.py
Due: docker-build-server, pytest

client: added features for camera
  client/html/post_readonly_sidebar.tpl
  client/js/models/post.js
  client/js/util/misc.js
Due: docker-build-client

server: fix swapped dimensions on some images
  server/szurubooru/func/metadata.py
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

server: metadata.py -> images.py [WIP, broken]
  server/szurubooru/func/images.py
  server/szurubooru/func/metadata.py
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

server: improve migration, camera now UnicodeText
  server/szurubooru/func/images.py
  server/szurubooru/migrations/versions/57aafb3bf9f0_add_date_taken.py
  server/szurubooru/migrations/versions/57aafb3bf9f0_add_date_taken_and_camera.py
  server/szurubooru/migrations/versions/adb2acef2492_add_camera.py
  server/szurubooru/model/post.py
Due: docker-build-server, pytest

repo+build: updated info and docker-compose file
  README.md
  doc/INSTALL.md
  doc/example.env
  docker-compose.yml
Due: none

repo: updated README
  README.md
Due: none

server/func/images: Do not pass file content to ffmpeg stdin
  server/szurubooru/func/images.py
Due: docker-build-server, pytest

server/func/images: upgrade to heif-image-plugin
  server/Dockerfile
  server/requirements.txt
  server/szurubooru/func/image_hash.py
  server/szurubooru/func/images.py
Due: docker-build-server, pytest

server/config: fix deprecated database string format
  server/szurubooru/config.py
Due: docker-build-server, pytest

Make waitress thread count configurable.
  doc/example.env
  docker-compose.yml
  server/Dockerfile
  server/docker-start.sh
Due: docker-build-server

client/js/markdown: fix processing of inline markdown
  client/.eslintrc.yml
  client/js/util/markdown.js
Due: docker-build-client

Set common tags for all uploads, with auto-completion
  client/css/post-upload.styl
  client/html/post_upload.tpl
  client/js/views/post_upload_view.js
Due: docker-build-client

docs:Fix external link in README
  README.md
Due: none

Added BuildKit flags fix to INSTALL.md
  doc/INSTALL.md
Due: none

doc: fix external link in README.md
  README.md
Due: none

doc: added BuildKit flags fix to INSTALL.md
  doc/INSTALL.md
Due: none

server/szuru-admin: Add thumbnail regeneration script
  .pre-commit-config.yaml
  server/szuru-admin
Due: docker-build-server

server: fix build error due to broken pip requirements
  server/Dockerfile
  server/requirements.txt
Due: docker-build-server

client+server: only trigger autobuild on master branch pushes
  .github/workflows/build-containers.yml
Due: none

all: add .gitattributes
  .gitattributes
Due: none

Path conditions:
  docker-build-client: any of: client/, but not: LICENSE.md
  docker-build-server: any of: server/, but not: LICENSE.md
  pytest: any of: server/szurubooru/ and \.py$ and not (server/szurubooru/migrations/) and not (LICENSE.md)
