Repository rr-/szurubooru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-build-client, docker-build-server, pytest

docker-build-client:
  name: Docker - build client
  entry: bash -c '<client/Dockerfile sed "s/--platform.*BUILDPLATFORM//g" | docker build -f - client/'
  language: system
  pass_filenames: false

docker-build-server:
  name: Docker - build server
  entry: bash -c 'docker build server/'
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'docker run --rm -t $(docker build -f server/Dockerfile.test -q server/) szurubooru/'
  language: system
  pass_filenames: false
  stages:
  - push

doc: add GET /post/<id>/around to API.md
  doc/API.md
Due: none

update README to reflect new name
  README.md
Due: none

added quicktime upload support
  client/html/post_merge_side.tpl
  client/html/post_readonly_sidebar.tpl
  client/js/views/post_upload_view.js
  server/szurubooru/func/mime.py
Due: docker-build-client, docker-build-server, pytest

support ftypiso6 file signature
  server/szurubooru/func/mime.py
Due: docker-build-server, pytest

Default upload tags
  client/css/post-upload.styl
  client/html/post_upload.tpl
  client/js/views/post_upload_view.js
Due: docker-build-client

Allow default anonymous uploads
  client/css/post-upload.styl
  client/html/post_upload.tpl
  client/js/views/post_upload_view.js
Due: docker-build-client

Remove nullcheck operator
  client/js/views/post_upload_view.js
Due: docker-build-client

Better layout for upload options
  client/css/post-upload.styl
  client/html/post_upload.tpl
  client/js/views/post_upload_view.js
Due: docker-build-client

Fix tag name escaping on upload
  client/js/views/post_upload_view.js
Due: docker-build-client

server: poolpost nearby implementation
  doc/API.md
  server/szurubooru/api/post_api.py
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

server: fix small typo
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

server: rename incorrect flag
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

server: add missing None argument
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

server: fix incorrect values being used
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

server: slightly better way of prev/next
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

server: better iterable logic
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

server: izip doesnt exist anymore
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

server: add none check
  server/szurubooru/func/posts.py
Due: docker-build-server, pytest

client: add pool navigation elements
  client/css/pool-navigator-control.styl
  client/css/pool-navigator-list.styl
  client/html/pool_navigator.tpl
  client/html/pool_navigator_list.tpl
  client/html/post_main.tpl
  client/js/controllers/post_main_controller.js
  client/js/controls/pool_navigator_control.js
  client/js/controls/pool_navigator_list_control.js
  client/js/models/post_list.js
  client/js/views/post_main_view.js
Due: docker-build-client

client: add missing import
  client/js/views/post_main_view.js
Due: docker-build-client

client: append missing child
  client/js/controls/pool_navigator_list_control.js
Due: docker-build-client

client: fix some incorrect references
  client/js/controllers/post_main_controller.js
  client/js/controls/pool_navigator_list_control.js
  client/js/models/post_list.js
  client/js/views/post_main_view.js
  server/szurubooru/func/posts.py
Due: docker-build-client, docker-build-server, pytest

doc: properly name API elements
  doc/API.md
Due: none

server/tests: add some tests
  server/szurubooru/tests/api/test_post_retrieving.py
Due: docker-build-server, pytest

server/tests: add necessary privilege to fixture
  server/szurubooru/tests/api/test_post_retrieving.py
Due: docker-build-server, pytest

client: add bulk delete feature
  client/css/post-list-view.styl
  client/html/posts_header.tpl
  client/html/posts_page.tpl
  client/js/controllers/post_list_controller.js
  client/js/views/posts_header_view.js
  client/js/views/posts_page_view.js
  server/config.yaml.dist
Due: docker-build-client, docker-build-server

client: add bulk delete feature (#459)
  client/css/post-list-view.styl
  client/html/posts_header.tpl
  client/html/posts_page.tpl
  client/js/controllers/post_list_controller.js
  client/js/views/posts_header_view.js
  client/js/views/posts_page_view.js
  server/config.yaml.dist
Due: docker-build-client, docker-build-server

client: workaround for #545, but not a fix
  client/js/controllers/post_list_controller.js
Due: docker-build-client

fix flow view on webkit browsers
  client/css/core-general.styl
Due: docker-build-client

docs (api): change micro post attribute name to id
  doc/API.md
Due: none

docs (tag categories): order is required when creating tag category
  doc/API.md
Due: none

server/test: skip network tests by default
  server/szurubooru/tests/func/test_net.py
Due: docker-build-server, pytest

server+client: bump versions in pre-commit
  .pre-commit-config.yaml
  client/package.json
Due: docker-build-client

client+server: added quicktime upload support
  client/html/post_merge_side.tpl
  client/html/post_readonly_sidebar.tpl
  client/js/views/post_upload_view.js
  server/szurubooru/func/mime.py
Due: docker-build-client, docker-build-server, pytest

client/tests: add unit tests for quicktime videos
  server/szurubooru/func/mime.py
  server/szurubooru/tests/assets/mov.mov
  server/szurubooru/tests/func/test_mime.py
Due: docker-build-server, pytest

client/upload: fix thumbnail width in post uploads
  client/css/post-upload.styl
Due: docker-build-client

Add the ability to ban posts
  client/html/post_edit_sidebar.tpl
  client/js/controllers/post_main_controller.js
  client/js/controls/post_edit_sidebar_control.js
  client/js/models/post.js
  server/config.yaml.dist
  server/szurubooru/api/post_api.py
  server/szurubooru/func/posts.py
  server/szurubooru/migrations/versions/cc2956cb8ee7_create_ban_table.py
  server/szurubooru/model/__init__.py
  server/szurubooru/model/post.py
Due: docker-build-client, docker-build-server, pytest

Add doc entry
  doc/API.md
Due: none

Path conditions:
  docker-build-client: any of: client/, but not: LICENSE.md
  docker-build-server: any of: server/, but not: LICENSE.md
  pytest: any of: server/szurubooru/ and \.py$ and not (server/szurubooru/migrations/) and not (LICENSE.md)
